@import "reset";
@import "./variables.scss";

html,
body {
  width: 100%;
  font-family: "Roboto", sans-serif;

  font-size: 14px;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.card {
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: $white;
}
